@import './Variables.css';

.hamburgerMenu {
    position: relative;
}

.hamburgerButton {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    color: var(--text-color);
    transition: transform 0.3s ease;
}

.hamburgerButton:hover {
    transform: rotate(90deg);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: var(--menu-background-color);
    color: var(--text-color);
    transition: left 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
    left: 0;
}

.closeButton {
    font-size: 24px;
    background: none;
    border: none;
    color: var(--text-color);
    align-self: flex-end;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.closeButton:hover {
    transform: rotate(-90deg);
}

.nav {
    margin-top: 50px;
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav li {
    width: 100%;
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: var(--hover-background-color);
}