:root {
    /* Colores para el modo claro */
    --color-fondo-claro: #fafafa;
    --color-texto-claro: #242424;
    --color-borde: #e0e0e0;
  
    /* Colores para el modo oscuro */
    --color-fondo-oscuro: #242424;
    --color-texto-oscuro: #fafafa;
    --color-borde-oscuro: #444444;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
    margin: 0;
    padding: 0;
  }
  
  .search-verbs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-texto-claro);
    color: var(--color-fondo-claro);
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--color-texto-claro);
    color: var(--color-fondo-claro);
  }
  
  .table-container {
    max-height: 312px;
    overflow-y: auto;
  }
  
  .table-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: var(--color-fondo-claro);
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: var(--color-texto-claro);
    border-radius: 5px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-texto-oscuro);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table.hidden {
    display: none;
  }
  
  table th,
  table td {
    border: 1px solid var(--color-borde);
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: var(--color-texto-claro);
    color: var(--color-fondo-claro);
  }
  
  table td {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
  }
  