@import './Variables.css';

.container {
    position: relative;
    display: inline-block;
    font-size: 0.9rem;
}

.toggleButton {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 900;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--menu-background-color);
    box-shadow: none;
    z-index: 1;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menuItem:hover {
    background-color: var(--hover-background-color);
}

.icon {
    margin-right: 8px;
    font-size: 1.2rem;
}

.selected {
    background-color: var(--selected-background-color);
    color: var(--selected-text-color);
}