@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --background-color: #ffffff;
    --menu-background-color: #f8f9fa;
    --text-color: #000000;
    --hover-background-color: #f0f0f0;
    --selected-background-color: #e0e0e0;
    --selected-text-color: #000000;
    --font-family: 'Manrope', sans-serif;
}

[data-theme="dark"] {
    --background-color: #242424;
    --menu-background-color: #1e1e1e;
    --text-color: #ffffff;
    --hover-background-color: #3a3a3a;
    --selected-background-color: #3a3a3a;
    --selected-text-color: #ffffff;
}